################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs/RPILab2/FileContentIndex
/.vs/RPILab2/v17
/venv
/.vs
